<a href="https://colab.research.google.com/github/MishraAmber/Machine-Learning/blob/main/Rock_vs_Mine_Predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing the Dependencies

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

## Importing the data

In [ ]:
sonar_data = pd.read_csv("Copy of sonar data.csv")

In [ ]:
sonar_data.head()

,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
0,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
1,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
2,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
3,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R
4,0.0286,0.0453,0.0277,0.0174,0.0384,0.0990,0.1201,0.1833,0.2105,0.3039,...,0.0045,0.0014,0.0038,0.0013,0.0089,0.0057,0.0027,0.0051,0.0062,R

In [ ]:
sonar_data.shape

(207, 61)

In [ ]:
sonar_data.iloc[:,60].value_counts()  # Seeing the data are comarable or not

M    111
R     96
Name: R, dtype: int64

## Splitting the data

In [ ]:
x = sonar_data.drop(sonar_data.columns[60],axis=1)
y = sonar_data.iloc[:,60].copy()

In [ ]:
x.shape

(207, 60)

## Training and test data

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.1,stratify=y,random_state=4)

In [ ]:
x_train.shape,x_test.shape

((186, 60), (21, 60))

## Training Model

In [ ]:
model = LogisticRegression()
model.fit(x_train,y_train)

## Accuracy on training data

In [ ]:
y_train_pred = model.predict(x_train)
acc = accuracy_score(y_train_pred,y_train)

In [ ]:
acc

0.8279569892473119

## Accuracy on test data

In [ ]:
y_test_pred = model.predict(x_test)
acc_test = accuracy_score(y_test_pred,y_test)

In [ ]:
acc_test

0.8095238095238095

## Making a predictive system

In [ ]:
input_data = (0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,0.4152,0.3952,0.4256,0.4135,0.4528,0.5326,0.7306,0.6193,0.2032,0.4636,0.4148,0.4292,0.5730,0.5399,0.3161,0.2285,0.6995,1.0000,0.7262,0.4724,0.5103,0.5459,0.2881,0.0981,0.1951,0.4181,0.4604,0.3217,0.2828,0.2430,0.1979,0.2444,0.1847,0.0841,0.0692,0.0528,0.0357,0.0085,0.0230,0.0046,0.0156,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094)

# Changing the data to numpy array
input_data_as_np = np.array(input_data)

In [ ]:
# Reshaping the np array as we are presicting for one instance
input_data_reshaped = input_data_as_np.reshape(1,-1)

prediction = model.predict(input_data_reshaped)

In [ ]:
if(prediction[0] == 'R'):
  print("The object is a Rock")
  print("The accuracy of model is: ",acc_test)
else:
  print("The object is a Mine")
  print("The accuracy of model is: ",acc_test)

The object is a Mine
The accuracy of model is:  0.8095238095238095